{% extends "base.html.twig" %}

{% block title %}Guitar Lover{% endblock %}



{% block body %}
<div id="mainPictureDiv">
    <div>
        <h1>Bienvenue sur le site e-commerce</h1>
        <a href="#" class="btn btn-primary">Commander</a>
    </div>
</div>



{% endblock %}